@model Courses.Models.Student

@{
    ViewData["Title"] = "CreateStudent";
}
<div class="container">
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>Create New Student</h2>
            <p>من فضلك ادخل بياناتك بدقة</p>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="CreateStudent" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-mail</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="">
        <a asp-controller="Home" asp-action="Courses" class="btn btn-outline-info ">Back to Courses List</a>
    </div>
</div>